src/monophyllon/*.o
src/monophyllon/libdiaplexis.so
documentation/monophyllon
src/polyphyllon/*.o
src/polyphyllon/libdiaplexis.so
documentation/polyphyllon
examples/data
examples/euplecton
examples/euplecton.o

